@import url("https://fonts.googleapis.com/css2?family=Fruktur&family=Roboto:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fruktur", cursive;
}

body {
  background: #010405;
  min-width: 360px;
}

section {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

section::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 100px;
  background: linear-gradient(to top, #010405, transparent);
  z-index: 10000;
}

section img {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
}

.sec {
  position: relative;
  padding: 100px;
  text-align: center;
}

.sec h2 {
  font-size: 5em;
  color: #ff9425;
  margin-bottom: 20px;
}

.sec p {
  color: #fff;
  font-size: 1.2em;
  line-height: 1.5em;
  font-family: consolas;
}

@media (max-width: 1800px) {
  .sec {
    padding: 0 70px 70px;
  }
}

@media (max-width: 1700px) {
  section {
    height: 80vh;
  }
}

@media (max-width: 1350px) {
  section {
    height: 70vh;
  }

  .sec {
    padding: 0 50px 50px;
  }
}

@media (max-width: 1150px) {
  section {
    height: 60vh;
  }
}

@media (max-width: 970px) {
  section {
    height: 50vh;
  }
}

@media (max-width: 768px) {
  section {
    height: 40vh;
  }
}

@media (max-width: 650px) {
  section {
    height: 30vh;
  }
}

@media (max-width: 500px) {
  section {
    height: 20vh;
  }

  .sec h2 {
    font-size: 3em;
  }

  .sec {
    padding: 0 30px 30px;
  }
}
